/* its the body... */
body {
    background-image: radial-gradient(#fff, #f6f);
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    text-align: center;
    -webkit-text-stroke-width: 0.40mm;
    -webkit-text-stroke-color: #000;  
}

/* test site text */
h4 {
	font-size: 50px;
	-webkit-text-stroke-width: 0.5mm;
}

/* global button changes */
button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    -webkit-text-stroke-width: 0.15mm;
    text-align: center;
}

/* button to change the top text */
.text {
    background: #9dfdff;
    border-radius: 4px;
}
.text:hover{
    background: #88d3d4;
}
.text:active {
    background: #5fc8ca;
}

/* button above frog */
.frog {
    background: #77B255; /* #709e55 hover */
    border-radius: 20%;    /*#7abc54 active*/
}
.frog:hover {
    background: #709e55;
}
.frog:active {
   background: #7abc54;
}

/* frog image */
img {
    animation: rotation 2400ms infinite linear;
    
}
@keyframes rotation {
    0% {
        transform: rotate(0deg) scale(400px);
    }
    50% {
        transform: rotate(360deg) scale(150%);
    }
    100% {
        transform: rotate(720deg) scale(100%);
    }
}

/* text under the frog img */
h6 {
    animation: text 2400ms infinite ease-in-out;
}
@keyframes text {
    100%{
        transform: scale(20px)
    }
    50% {
        transform: scale(300%)
    }    
    0% {
        transform: scale(100%)
    }
}