:root {
    --clr: #1b1b1b;
    --white: #fff;
}

* {
    outline: solid 2px #ff00ff00
}

body {
    background-color: var(--clr);
    color: var(--white);
    min-height: 99vh;
    min-width: 99vw;
    justify-content: center;
    align-content: center;
    text-align: center;
}