:root {
    --clr: #1b1b1b;
    --white: #fff;
}

body {
    background-color: var(--clr);
    color: var(--white);
    min-height: 99vh;
    min-width: 99vw;
    justify-content: center;
    align-content: center;
}

.link-wrapper {
    outline: solid 2px #ffffff00;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.link {
    color: #fff;
    text-decoration: none;
    outline: solid 2px #ffffff00;
    margin: 10px;
}